<!DOCTYPE html>

<head>
	<!-- import styles from .css files -->
	<link rel="stylesheet" type="text/css" href="../static/pageTemplate.css">
	<link rel = "stylesheet" href = "../static/resources.css">
</head>
<title> Resources </title>
<body>
<div class="page-section">
	<!-- BANNER of the page -->
	<img src="../static/banner.jpg">

	<!-- header of the page -->
	<div class="link-container">
    	<div class="link_home">
        	<a href="instructor_index.html"><button class="head-anchor" type="button">Home</button></a>
   		</div>
    	<div class="link_news">
        	<a href="instructor_grade.html"><button class="head-anchor" type="button">Grades</button></a>
    	</div>
	    <div class="link_lecture">
	        <a href = "instructor_regrade_requests.html"><button class="head-anchor" type="button">Regrade requests</button></a>
	    </div>
		<div class="link_resources">
	        <a href="instructor_feedback.html"><button class="head-anchor" type="button">Feedback</button></a>
   		</div>
	    <div class="link_resources">
	        <a href="instructor_news.html"><button class="head-anchor" type="button">News</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_lecture.html"><button class="head-anchor" type="button">Lecture</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_courseworks.html"><button class="head-anchor" type="button">Course Works</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_resources.html"><button class="head-anchor" type="button">Resources</button></a>
   		</div>
	</div>


	<!-- actual content of the page -->
	<h1>Resources</h1>
	<h4>Here are resources to help you develop a better understanding on this course, and improve your skills</h4>
	<hr>
	<h3><b>Online Resources</b></h3>
	<p><h5>&bull;&nbsp; <a href = "index.html">Course website</a></h5>
		&emsp; <i>Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. <br>
		&emsp;&nbsp;It is your responsibility to visit it frequently.</i><br>

		<h5> &bull;&nbsp; Beginner tutorial for <a href = "https://code.tutsplus.com/articles/sql-for-beginners--net-8200">MySQL</a></h5>

		<h5> &bull;&nbsp; Email Communication</h5>
		&emsp; <i>Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions<br>
		&emsp;about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well<br>
		&emsp;as questions and concerns regarding your personal matters should be directed to the instructor.</i>

		<h5> &bull;&nbsp; <a href = "https://piazza.com/class">Discussion Board</a></h5>
	&emsp; <i>You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments,<br>&emsp; etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal<br> &emsp; (parts of) your solution on the bulletin board.</i>
	</p>
	<hr>
	<h3>Software and Documentation</h3>

	<p> &bull;&nbsp; <i>Logging into Mathlab</i><br>
		&emsp;&emsp;1.Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing<br><br>
		&emsp;&emsp;&emsp;&emsp;<sub>ssh utorid@mathlab.utsc.utoronto.ca.</sub>&emsp; Enter your password.<br>
		<br>
		&emsp;&emsp;2.Windows - you will need a SSH client. PuTTY is a good free one.You can download and install here: <a href = "https://www.putty.org/">PuTTY</a>. Use the <br>
		&emsp;&emsp;&ensp;same command as above to login to mathlab:<br><br>
		&emsp;&emsp;&emsp;&emsp;<sub>ssh utorid@mathlab.utsc.utoronto.ca.</sub>&emsp; Enter your password.<br>
		<br>
	</p>

	<!-- footer of the page -->
	<div class="footer-container">
		<a href="index.html">log out</a>
		<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a></p>
		<p>Site Designed and Created by: Tianxiao(Tony) Li, Xuezhi(Jeff) Yan</p>
	</div>
</div>
</body>