<!DOCTYPE html>
<html>
<head>
	<!-- import the styles from .css file -->
	<link rel="stylesheet" type="text/css" href="../static/pageTemplate.css">
	<link rel = "stylesheet" href = "../static/index.css">
	<meta charset="UTF-8">
</head>

<title>instructor index</title>
<body>
<div class="page-section">
	<!-- BANNER of page -->
	<img src="../static/banner.jpg">


	<!-- header of the page -->
	<div class="link-container">
    	<div class="link_home">
        	<a href="instructor_index.html"><button class="head-anchor" type="button">Home</button></a>
   		</div>
    	<div class="link_news">
        	<a href="instructor_grade.html"><button class="head-anchor" type="button">Grades</button></a>
    	</div>
	    <div class="link_lecture">
	        <a href = "instructor_regrade_requests.html"><button class="head-anchor" type="button">Regrade requests</button></a>
	    </div>
		<div class="link_resources">
	        <a href="instructor_feedback.html"><button class="head-anchor" type="button">Feedback</button></a>
   		</div>
	    <div class="link_resources">
	        <a href="instructor_news.html"><button class="head-anchor" type="button">News</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_lecture.html"><button class="head-anchor" type="button">Lecture</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_courseworks.html"><button class="head-anchor" type="button">Course Works</button></a>
   		</div>
		<div class="link_resources">
	        <a href="instructor_resources.html"><button class="head-anchor" type="button">Resources</button></a>
   		</div>
	</div>

	<!-- ACTUAL CONTENTS -->
	<!-- since this is the instructor index, it wants to tell user that he / she logged in as a instructor
	-->
	<h2> Welcome to our CSCB20 website, you signed in as an <i>instructor</i> user</h2>


	<!-- still contains the basic information about this course and instructor-->
	<hr>
	<h3> Course Description </h3>
	<p>A practical introduction to databases and Web app development. <br>
		Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. <br>
		Web documents and applications: files and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p> 
	<p>
		<b>Prerequiste:</b> 
		<i>Some experience with programming in an imperative language such as Python, Java or C.</i>
	</p>
	<p>
		<b>Exclusions:</b>
		<i>This course may not be taken after - or concurrently with - any C- or D-level CSC course.</i>
	</p>
	<p> 
		<b>Syllabus:</b>
		<a href = "../static/sample.pdf">click me</a>
	</p>
	<hr>
	<!-- ------------------------ -->
	<!-- info of instructor -->
	<h3>Instructor</h3>
	<p>
		<b>Dr. Anna Brestcher</b><br>
		<b>Email:</b> &emsp;&emsp;&emsp;&ensp;&emsp;&nbsp;
		<a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a><br>
		<b>Office:</b> &emsp;&emsp;&emsp;&ensp;&emsp;&nbsp;IC493 <br>
		<b>Phone:</b> &emsp;&emsp;&emsp;&ensp;&emsp;(416)-208-4745 <br>
		<b>Lectures:</b> &emsp;&emsp;&ensp;&emsp;Mondays 9:15-11:00 in HW 216 <br>
		<b>Office hours:</b> &ensp;&nbsp;&ensp;&nbsp;Wednesday 11:00-12:00
	</p>

	<!-- FOOTER of page -->
	<div class="footer-container">
		<a href="index.html">log out</a>
		<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a></p>
		<p>Site Designed and Created by: Tianxiao(Tony) Li, Xuezhi(Jeff) Yan</p>
	</div>
</div>
</body>
</html>
