<!DOCTYPE html>
<html>
<head>
	<!-- import the styels from .css files -->
	<link rel="stylesheet" type="text/css" href="../static/pageTemplate.css">
	<link rel = "stylesheet" href = "../static/news.css">
</head>
<title>news</title>
<body>
<div class="page-section">


	<!-- BANNER of page -->
	<img src="../static/banner.jpg">


	<!-- HEADER of page -->
	<div class="link-container">
    	<div class="link_home">
        	<a href="index.html"><button class="head-anchor" type="button">Home</button></a>
   		</div>
    	<div class="link_news">
        	<a href="news.html"><button class="head-anchor" type="button">News</button></a>
    	</div>
	    <div class="link_lecture">
	        <a href = "lecture.html"><button class="head-anchor" type="button">Lecture</button></a>
	    </div>
	    <div class="link_course-works">
	        <a href = "courseworks.html"><button class="head-anchor" type="button">Course Works</button></a>
	    </div>
	    <div class="link_resources">
	        <a href="resources.html"><button class="head-anchor" type="button">Resources</button></a>
   		</div>
	</div>

	<!-- ACTUAL CONTENT of the page -->

	<h1>News</h1>
	<h3>Check here for any upcoming events!</h3>
	<hr>
	<!-- this is a toolbox that display message as user hover mouse on it -->
	<div class="tip">New messages:
  		<span class="tiptext">The new messages relates to events within two weeks</span>
	</div>

	<!-- NEWS contents -->
	<p> 
		<b>March 15<sup>th</sup></b><br>
		&emsp;Assignment 2 due, please submit on markus!<br>
		<br>
		<b>March 9<sup>th</sup></b><br>
		&emsp;Please have your team ready!<br>
		<br>
		<b>March 8<sup>th</sup></b><br>
		&emsp;Please have your team ready by tomorrow (March 9<sup>th</sup>)<br>
		<br>
	</p>
	<hr>

	<!------------------------------- -->
	<!-- CALENDAR -->
	<iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=2000chrisyan%40gmail.com&ctz=America%2FToronto"></iframe>
	<hr>


	<!------------------------------------------------->
	<!-- ARCHIEVED MESSAGES -->
	<div class="tip">Archieved messages:
		<!-- toolbox tip -->
  		<span class="tiptext">Messages from two weeks before</span>
	</div>
	<p>
		<b>March 1<sup>st</sup></b><br>
		&emsp;<a href = "../static/sample.pdf">Assignment 2</a> released<br>
		<br>
		<b>Feb 18<sup>th</sup></b><br>
		&emsp; Midterm mark out<br>
		<br>
		<b>Feb 16<sup>th</sup></b><br>
		&emsp; Assignment 1 mark out on <a href= "https://markus.utsc.utoronto.ca/cscb63w20">markus</a><br>
		<br>
		<b>Feb 7<sup>th</sup></b><br>
		&emsp; Assignment1 due tomorrow<br>
		<br>
		<b>Feb 1<sup>st</sup></b><br>
		&emsp; <a href = "../static/sample.pdf">Assignment1</a> released, please manage your team on <a href= "https://markus.utsc.utoronto.ca/cscb63w20">markus</a><br>
		<br>
		<b>Jan 2<sup>nd</sup></b><br>
		&emsp; Welcome to CSCB20, tutorial will start next week<br>
		<br>
	</p>


	<!-- footer -->
	<div class="footer-container">
		<p><a href="feedback.html">Let us know what you think</a>
		<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a></p>
		<p>Site Designed and Created by: Tianxiao(Tony) Li, Xuezhi(Jeff) Yan</p>
	</div>
</div>
</body>
</html>
