<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/pageTemplate.css">
    <title>CSCB20 Site</title>
</head>
<body>
<div class="page-section">
    
    <div class="header-section">


        <img src="banner.jpg">

        <div class="link-container">
            <div class="link_home">
                <button class="head-anchor" type="button">Home</button>
            </div>
            <div class="link_news">
                <button class="head-anchor" type="button">News</button>
            </div>
            <div class="link_lecture">
                <button class="head-anchor" type="button">Lecture</button>
            </div>
            <div class="link_course-works">
                <button class="head-anchor" type="button">Course Works</button>
            </div>
            <div class="link_resources">
                <button class="head-anchor" type="button">Resources</button>
            </div>
        </div>
    </div>

    <h1>stuffs1</h1>
    <h1>stuffs2</h1>
    <h1>stuffs3</h1>
    <h1>stuffs4</h1>
    <h1>stuffs5</h1>
    <h1>stuffs6</h1>
    <h1>stuffs7</h1>
    <h1>stuffs8</h1>

    <div class="footer-container">
        <p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a></p>
        <p>Site Designed and Created by: Tianxiao(Tony) Li, Xuezhi(Jeff) Yan</p>
    </div>
</div>
</body>
</html>