<!DOCTYPE html>
<head>
    <!-- import styles from .css files, note that both register.html and sign_in.html share the same account.css file -->
    <link rel="stylesheet" type="text/css" href="../static/pageTemplate.css">
    <link rel="stylesheet" type="text/css" href="../static/account.css">
    <meta charset="UTF-8">
</head>
<body>

<div class="page-section">
    
    <!-- BANNER of page -->
    <img src="../static/banner.jpg">


    <!-- header of the page -->
    <div class="link-container">
      <div class="link_home">
          <a href="index.html"><button class="head-anchor" type="button">Home</button></a>
      </div>
      <div class="link_news">
          <a href="sign_in"><button class="head-anchor" type="button">News</button></a>
      </div>
      <div class="link_lecture">
          <a href = "sign_in"><button class="head-anchor" type="button">Lecture</button></a>
      </div>
      <div class="link_course-works">
          <a href = "sign_in"><button class="head-anchor" type="button">Course Works</button></a>
      </div>
      <div class="link_resources">
          <a href="sign_in"><button class="head-anchor" type="button">Resources</button></a>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <h1>
        {{ messages[0] }}
    </h1>
    {% endif %}
    {% endwith %}

    <!-- form to interact with user, this part has things to do in tha app.py flask file -->
  <form method="POST" action="/register">
    <div class="container">
        <h1>Register</h1>
        <h2>Please fill in this form to create an account.</h2>
        <hr>

        <label for = "id"><b>ID (can't be same)</b></label>
        <input type = "text" placeholder="Please enter your id " name = "id" required> 
        <!-- this is the primary key for the database --> 

        <!-- first name, last name, user name, password, repeat password all are required when signing up -->
        <label for ="name"><b>Name</b></label>
        <input type = "text" placeholder = "Please enter your first name then last name" name = "name" required>



        
        <input type = "checkbox" name = "type" value = 0>
        <label for = "type"><b>I am a student</b></label>
        <input type = "checkbox" name = "type" value = 1>
        <label for = "type"><b>I am an instructor</b></label><br><br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Please enter your email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Please enter Password" name="password" required>

        <label for="password-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Please repeat Password" name="password-repeat" required>
        <button type="submit" class="submit">Register</button>
    </div>
    
      <!-- for the case user who has an account already -->
      <div class="container signin">
        <p>Already have an account? click here to <a href="sign_in">Sign in</a>.</p>
        <!-- The flask app.py file will make redirection and check whether or not the input already exists -->
      </div>
  </form>
    
    <!-- footer of the page -->
    <div class="footer-container">
        <p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a></p>
        <p>Site Designed and Created by: Tianxiao(Tony) Li, Xuezhi(Jeff) Yan</p>
    </div>
</div>



</body>
</html>